<h1>Lista de productos</h1>

<div class="container">
  <div class="row">
    <div class="col-12">      
      <table class="table table-hover table-border table-sm">
        <thead>
          <tr>
            <th scope="col">Id de producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad en inventario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id_producto}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio | currency:'$ ':'symbol':'3.0'}}</td>            
            <td>{{producto.cantidad}}</td>
          </tr>    
        </tbody>
      </table>
    </div>
  </div>
</div>